@import "../stylesheets/tailwind.css";
@import "../stylesheets/fonts.css";
@import "../stylesheets/forms.css";
@import "../../../node_modules/material-symbols/sharp.css";
@import "../stylesheets/actiontext.css";

h1 {
  line-height: 1.4 !important;
  font-family: 'ReithSans', sans-serif;
}

h2 {
  line-height: 1.3 !important;
} 

h2, h3, h4, h5, h6, p, a, span, div, li, td, th, label, input, textarea, select, button {
  font-family: 'ReithSans', sans-serif;
}

.form-checkbox {
  margin-right: .5rem !important;
  height: 20px;
  width: 20px;
}

.checkbox {
  display: block;
}

.input.radio_buttons {
  margin-right: .5rem !important;
}

.boolean.field_with_errors {
  .error {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .hero-banner {
    height: fit-content;
  }
}

.error {
  color: red;
  display: block;
}

abbr:where([title]) {
  text-decoration: none;
}

body {
  background-color: #fefefe;
}

ol {
  list-style: decimal;
}

.hero-banner {
  background: url('../../frontend/images/children-playing.jpg') no-repeat center center; 
  background-size: cover;
  opacity: .9;
}

.squiggle-banner {
  @media (min-width: 768px) {
    background-image: url('../../frontend/images/blue-squiggles-lg.png');
  }

  @media (max-width: 767px) {
    background-image: url('../../frontend/images/blue-squiggles.png');
  }

  background-size: cover;
}

.thank-you-banner {
  background: url('../../frontend/images/family-playing.jpg') no-repeat 0% 25%; 
  background-size: cover;
  opacity: .9;
}

.h-85svh {
  @media (min-width: 768px) {
    height: fit-content;
  }
  
  @media (min-width: 800px) {
     height: 88svh;
  }
}

.survey-header {
  .trix-content {
    color: white;
  }
}
