@import "../stylesheets/tailwind.css";
@import "../stylesheets/fonts.css";
@import "../stylesheets/forms.css";

h1 {
  line-height: 1.4 !important;
  font-family: 'ReithSans';
}

h2 {
  line-height: 1.3 !important;
} 

h2, h3, h4, h5, h6, p, a, span, div, li, td, th, label, input, textarea, select, button {
  font-family: 'ReithSans';
}

.form-checkbox {
  margin-right: .5rem !important;
  height: 20px;
  width: 20px;
}

.checkbox {
  display: block;
}

.input.radio_buttons {
  margin-right: .5rem !important;
}

.boolean.field_with_errors {
  .error {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .hero-banner {
    height: fit-content;
  }
}

.error {
  color: red;
  display: block;
}

body {
  background-color: #fefefe;
}

ol {
  list-style: decimal;
}

.hero-banner {
  background: url('../../frontend/images/children-playing.jpg') no-repeat center center; 
  background-size: cover;
  opacity: .9;
}

.thank-you-banner {
  background: url('../../frontend/images/family-playing.jpg') no-repeat 0% 25%; 
  background-size: cover;
  opacity: .9;
}

.h-85svh {
  @media (max-width: 768px) {
    height: fit-content;
  }
  
  height: 85svh;
}
