<div class="p-28">
  <table class="table-auto bg-white">
    <thead>
      <tr>
        <th class="px-2 py-4">First name</th>
        <th class="px-2 py-4">Message</th>
      </tr>
    </thead>
    <tbody>
      <% @messages.each do |message| %>
        <tr class="border-b-2">
          <td class="px-2 py-4"><%= message.user.first_name %></td>
          <td class="px-2 py-4"><%= message.body %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
