<div class="flex justify-around bg-zinc-50">  
  <div class="w-full md:w-5/12 px-5 py-6 md:py-16">    
    <h1 class="md:text-4xl text-2xl">
      Update message content
    </h1>
    <div class="md:mt-8 w-full">
      <%= render "form" %>
    </div>
  </div>
</div>
