<div class="mb-2">
  <%= link_to '< Back', group_path(@group), class: 'underline hover:no-underline' %>
</div>
<h1 class="md:text-4xl text-2xl">
  New message content
</h1>
<div class="md:mt-8 w-full">
  <%= render "form", path: group_contents_path(@group) %>
</div>
