<table class="table-auto w-full">
  <thead>
    <tr class="bg-blue-300 text-left">
      <th class="px-4 py-4">Name</th>
      <td class="px-4 py-4">
        Adjustment direction
      </td>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr class="border-b-2">
        <td class="px-4 py-4 bg-white">
          <%= link_to "#{user.first_name} #{user.last_name}", user_path(user), class: "underline hover:no-underline" %>
        </td>
        <td class="px-4 py-4 bg-white">
          <%= user.latest_adjustment.direction&.capitalize %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
