<div class="bg-purple-900 p-5 md:p-10 mx-2">
  <h1 class="text-4xl text-yellow-200">
    Hello! Welcome to another week of our diary study.
  </h1>

  <h2 class="font-normal text-lg text-white">
    This 15 minute survey will ask you about how often you applied the Tiny Happy People content you received this week and what you thought about the programme content (the text message and video you received).
  </h2>
</div>

<div class="mt-8 w-full px-5">
  <p class="mb-3">
    Please feel free to use the programme's resources when it suits you—there’s no pressure to use it more than you normally would. We’re hoping to learn how the programme would normally fit into your daily routine and how we can improve the programme for families.
  </p>

  <p class="mb-4">
    If you have any questions or run into any issues, please don't hesitate to reach out—support is just an email, text or phone call away. Contact us at <a href="mailto:info@thp-text.uk" target="_blank" rel="noopener" class="link">info@thp-text.uk</a> or 07726 681921.
  </p>

  <%= f.button :submit, "Next", class: 'btn bg-purple-600 text-white w-full', data: { turbo_submits_with: 'Saving...' } %>
</div>
