<div class="mb-2">
  <%= link_to '< Back', admin_group_path(@content.group), class: 'underline hover:no-underline' %>
</div>
<h1 class="md:text-4xl text-2xl">
  Update message content
</h1>
<div class="md:mt-8 w-full">
  <%= render "form", path: admin_group_content_path(@content.group, @content) %>
</div>

