<div class="mx-auto md:w-2/3 md:py-20">
  <%= simple_form_for @user, url: user_path(@user), method: :patch do |form| %>
    <%= hidden_field_tag :step, @step %>
    <%= hidden_field_tag :token, params[:token] %>
    <%= render "users/edit/#{@step}_stage", f: form %>
  <% end %>
</div>
<% turbo_page_requires_reload %>

<% if @step == "personalisation" %>
  <script>
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
      event: 'conversion_completed'
    });
  </script>
<% end %>
