<div class="p-28 bg-zinc-50">
  <table class="table-auto">
    <thead>
      <tr>
        <th class="px-4 py-4 bg-purple-300">First name</th>
        <th class="px-4 py-4 bg-purple-300">Last name</th>
        <th class="px-4 py-4 bg-purple-300">Message</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr class="border-b-2">
          <td class="px-4 py-4 bg-white">
            <%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
