<div class="absolute left-0 w-full" style="top: 72px;">
  <div class="relative overflow-hidden">
    <div class="absolute left-0 top-0 w-full hidden md:block" style="background-image: url(<%= image_url('grandchild.jpg') %>); background-size: cover; height: 100svh; opacity: .9">
    </div>
    <div class="bg-amber-400 md:bg-transparent md:flex px-3 py-5 md:pt-24 md:px-28 relative h-screen">
      <div class="md:w-3/5">
        <h1 class="md:text-5xl text-purple-900 md:text-purple-300 md:mb-10">
          Thank you for signing up!
        </h1>
        <h2 class="md:text-3xl md:mb-10 text-red-900 md:text-red-200">
          You will receive your first text very soon
        </h2>
        <p class="text-md md:text-xl md:mb-10 text-black md:text-white md:w-4/5">
          If you have any concerns about your child's development, please consult our <%= link_to "resources", resources_users_path %> page
        </p>
      </div>
    </div>
  </div>
</div>
