<% content_for(:page_title) { I18n.t("pages.thank_you.page_title") } %>

<div class="relative">
  <div class="absolute left-0 top-0 w-full h-full hidden md:block thank-you-banner">
  </div>
  <div class="bg-bbc-dark-blue md:bg-transparent md:flex md:flex-col p-5 relative md:px-24 md:justify-around h-85svh">
    <div class="lg:w-3/4 xl:w-1/2 md:bg-bbc-dark-blue  md:p-6 xl:p-8 flex flex-col justify-between h-fit">
      <h1 class="text-4xl lg:text-5xl text-bbc-yellow">
        <%= t('pages.thank_you.title') %>
      </h1>
      <h2 class="text-2xl lg:text-3xl text-white mb-5">
        <%= t('pages.thank_you.subtitle') %>
      </h2>
      <p class="text-md text-lg l:text-xl text-white xl:w-5/6">
        <%= t('pages.thank_you.text').html_safe %>
      </p>
    </div>
  </div>
  <div class="block md:hidden mt-0">
    <%= vite_image_tag "images/family-playing.jpg", alt: "", "aria-hidden": "true" %>
  </div>
</div>
