<div class="relative">
  <div class="absolute left-0 top-0 w-full h-full hidden md:block" style="background: url(<%= image_url('family-playing.jpg') %>) no-repeat 0% 25%; background-size: cover; opacity: .9">
  </div>
  <div class="bg-purple-900 md:bg-transparent md:flex md:flex-col p-5 relative hero-banner md:px-24 md:justify-around">
    <div class="lg:w-3/4 xl:w-1/2 md:bg-purple-900 md:p-6 xl:p-8 flex flex-col justify-between h-fit">
      <h1 class="text-4xl lg:text-5xl text-yellow-200">
        Thank you for signing up!
      </h1>
      <h2 class="text-2xl lg:text-3xl text-pink-200 mb-5">
        You will receive your first text very soon
      </h2>
      <%# if @user.diary_study && @user.diary_study_contact_method.present? %>
        <p class="text-md text-lg l:text-xl text-white xl:w-5/6 mb-5">
          We'll be in touch within <span class="font-bold">5 working days</span> to explain more about the diary study and get you started. If you have any questions in the meantime, feel free to contact us at: lauren.liotti@nesta.org.uk.
        </p>
      <%# <% end %>
      <p class="text-md text-lg l:text-xl text-white xl:w-5/6">
        If you're looking for assistance with your or your child's health, your family's finances, or have concerns about your child's development, please consult our <%= link_to "resources page", resources_path, class: "underline hover:no-underline" %> to know where you might find UK-based support.
      </p>
    </div>
  </div>
  <div class="block md:hidden mt-0">
    <%= image_tag "family-playing.jpg", alt: "Family playing in the park" %>
  </div>
</div>
