<% content_for(:page_title) { I18n.t("pages.about_us.page_title") } %>

<div class="px-3 md:flex justify-around py-8 xl:py-10">
  <div class="md:w-1/2">
    <h1 class="mb-2 text-3xl md:text-4xl text-blue-900">
      <%= t('pages.about_us.title') %>
    </h1>

    <div>
      <%= t('pages.about_us.body').html_safe %>
    </div>
  </div>
</div>
