<div class="px-3 md:flex justify-around">
  <div class="md:w-1/2">
    <h1 class="mb-2 text-3xl md:text-4xl text-purple-900">
      About us
    </h1>

    <h2 class="mt-5 mb-3 text-xl md:text-2xl text-purple-900" id="about">
      Nurturing your child's growth with fun, free activities
    </h2>
    <p>
      Get bite-sized, expert-crafted activities that spark imagination - delivered to your phone, every week. 
    </p>

    <h2 class="mt-5 mb-3 text-xl md:text-2xl text-purple-900" id="about">
      Why sign up?
    </h2>
    <p class="mb-3">
      Parents get free, bite-sized, expert-developed activities delivered to their phone, every week.
    </p>
    <p>
      The Tiny Happy People texting programme is designed to offer parenting support and a journey tailored to your family’s unique needs, with texts at a time most convenient for parents and their busy schedules. Each activity is from BBC Education’s catalogue of Tiny Happy People videos, designed by experts to support your child’s language and learning and strengthen your bond with your child.
    </p>

    <h2 class="mt-5 mb-3 text-xl md:text-2xl text-purple-900" id="about">
      About Nesta
    </h2>
    <p>
      The Tiny Happy People texting programme is a service run by Nesta, the UK’s innovation agency for social good. Nesta’s A Fairer Start team is working to break the link between family background and life chances.  From 2030, every child will have the same chance of developing to their full potential in the early years.
    </p>

    <h2 class="mt-5 mb-3 text-xl md:text-2xl text-purple-900" id="about">
      Get in touch
    </h2>
    <p>
      We’re working in partnership with local authorities and others across the UK to deliver this service. Please get in touch if you’d like to explore how you can contribute or how we can improve the service. Email us at <a href="mailto:info@thp-text.uk" target="_blank" rel="noopener" class="link">info@thp-text.uk</a>.
    </p>
  </div>
</div>
