<div class="px-3 md:flex justify-around">
  <div class="md:w-1/2">
    <div class="bg-purple-900 p-6 md:p-10">
      <h1 class="text-2xl md:text-3xl text-yellow-200">
        ⭐ Get involved with testing our text messaging programme to support families
      </h1>
      <p class="text-white">
        We'd like to invite you to take part in our project. This sheet explains what our project is about and what your participation in our diary study would involve. Please read through the information below carefully and ask us any questions you might have.
      </p>
    </div>

    <div class="px-2 mt-5">
      <h2 class="mb-3 text-xl md:text-2xl text-purple-900" id="about">
        Contents
      </h2>
      <ul>
        <li class="mb-1">
          <a href="#about" class="link">What is this project about?</a>
        </li>
        <li class="mb-1">
          <a href="#why" class="link">Why are we doing this research?</a>
        </li>
        <li class="mb-1">
          <a href="#what" class="link">What will happen if I choose to get involved?</a>
        </li>
        <li class="mb-1">
          <a href="#take-part" class="link">Do I have to take part?</a>
        </li>
        <li class="mb-1">
          <a href="#info" class="link">What will we do with the information?</a>
        </li>
        <li>
          <a href="#next" class="link">What happens next?</a>
        </li>
      </ul>

      <h2 class="mt-5 mb-3 text-xl md:text-2xl text-purple-900" id="about">
        What is this project about?
      </h2>
      <p class="mb-3">
        <a href="https://www.nesta.org.uk/fairer-start/" target="_blank">Nesta’s ‘A Fairer Start’</a> mission team is working with the University of Sheffield and the BBC to deliver and scale a text messaging programme that helps parents support their young children’s language development.
      </p>
      <p class="mb-3">
        We are inviting parents of children aged 6-24 months across the UK to sign up to our limited release of the programme, which will deliver weekly text messages featuring tips and video content from BBC’s <a href="https://www.bbc.co.uk/tiny-happy-people" target="_blank">Tiny Happy People</a> platform. During the duration of the programme, we will collect live usage data to measure how parents engage with the programme, such as link click-through rates.
      </p>
      <p>
        <span class="font-bold">We will also ask parents to fill out a diary entry daily for a month to learn more about their experiences of the programme</span>. This will involve parents telling us if, when and for how long they applied each week’s tips, and what their opinions about the texts and tips are. These diary entries will help us identify opportunities to improve the programme and build our confidence in its ability to reach and impact a large number of parents.
      </p>

      <h2 class="mt-6 mb-3 text-xl md:text-2xl text-purple-900" id="why">
        Why are we doing this research?
      </h2>
      <p class="mb-3">
        Our team at Nesta focuses on supporting the  learning of children under 5. We know that programmes that help parents in supporting their child's learning can make a big difference, but only if they meet families' needs. We want to test how well our text messaging programme meets families’ needs and impacts different parents and children. This diary study will help us understand what’s working and what’s not, so we can improve the programme and make a greater impact on children across the UK.
      </p>

      <h2 class="mt-6 mb-3 text-xl md:text-2xl text-purple-900" id="what">
        What will happen if I choose to get involved?
      </h2>
      <p class="mb-3">
        After signing up to the programme on our website and consenting to get involved in our diary study, you will begin receiving weekly texts through our programme. We invite you to engage with the programme in whatever way fits with your life.
      </p>
      <p class="mb-3">
        You will also receive an email with a digital copy of your diary, with specific questions for you to answer. You can fill out the diary on your computer or smart phone, print it out or request us to send you a physical copy of the diary. Each day, you will take 1 to 3 minutes to record in your diary whether you applied any of the tips you received through the texts that day. At the end of each week, you will take 5 to 10 minutes to reflect on how you found the texts and tips you received that week.  We will ask that you send us your diary entries for the week at the end of each week via email. Once you complete the study after 4 weeks of diary entries, you will receive a £100 voucher as a thank you for giving us your time. 
      </p>
      <p>
        We will change all names and remove any personal information from our records to keep your identity confidential.
      </p>

      <h2 class="mt-6 mb-3 text-xl md:text-2xl text-purple-900" id="take-part">
        Do I have to take part?
      </h2>
      <p class="mb-3">
        No, you do not have to take part in our project, it is completely up to you. 
      </p>
      <p class="mb-3">
        You can also ask questions before you make up your mind. Please contact us via email at <a href="mailto:info@thp-text.uk" class="link">info@thp-text.uk</a> or via text at 07726 681921. If you do agree to take part, you can change your mind at any time and withdraw. You do not have to give us a reason for no longer taking part, although it is helpful for us if you do.  Once your name has been removed from the record to keep it confidential, we can remove your personal details from Nesta’s records at your request. However, your anonymous words might still appear in the research report or presentation.
      </p>

      <h2 class="mt-6 mb-3 text-xl md:text-2xl text-purple-900" id="info">
        What will we do with the information?
      </h2>
      <p class="mb-3">
        Our research findings will inform improvements and strategic choices for the programme. We will share findings with people at Nesta, the University of Sheffield, the BBC and other important partnering organizations. We might also publish a report on Nesta’s website and share our research on social media, in newspapers or journals or via events.
      </p>
      <p class="mb-3">
        We will use pseudonyms (fake names) in all our outputs to make sure no one can identify the parents in our study.  We will store all the study information on Nesta’s secure servers for 3 years, after which it will be destroyed. Only members of this research team will have access to your diary and other personal data during this time.
      </p>

      <h2 class="mt-6 mb-3 text-xl md:text-2xl text-purple-900" id="next">
        What happens next?
      </h2>
      <p class="mb-3">
        Once you have completed the sign-up form, a team member will be in touch with you through your preferred method of contact. If you have any questions in the meantime, please reach out to <a href="mailto:lauren.liotti@nesta.org.uk" class="link">lauren.liotti@nesta.org.uk</a>.
      </p>

      <p class="mt-6 mb-3 text-xl md:text-2xl text-purple-900">
        Thank you!
      </p>
    </div>
