<div class="px-3 md:flex justify-around py-8 xl:py-10">
  <div class="md:w-1/2">
    <h1 class="text-blue-900 md:text-4xl text-2xl">Privacy policy</h1>
    <p>
      This website is owned and operated by Nesta - you can find our full details below. This privacy policy explains how Nesta uses personal information we collect via this site. We are committed to protecting your privacy and we take all reasonable precautions to safeguard personal information.
    </p>

    <h2 class="mt-6">What kind of information do we collect?</h2>
    <p class="mb-4">
      <span class="font-bold">Sign-up details:</span> If you sign up to our text messaging programme, we will ask you for personal information such as your name, phone number and postcode as well as the month and year of your child’s birth. We also ask for optional information to personalise your experience such as your child’s name or nickname, and optional information to improve our service such as your interests.
    </p>
    <p class="mb-4">
      <span class="font-bold">Research:</span> We may ask you to participate in research we are conducting and we may contact you to ask for further information about you or your experiences or opinions.
    </p>
    <p class="mb-4">
      <span class="font-bold">Feedback and surveys:</span> We may also ask you for feedback or to complete surveys.
    </p>
    <p class="mb-4">
      <span class="font-bold">Online activity:</span> When you use our website, we obtain information about the device from which you accessed it, your visits and use of the website including your browser type and version, referrer and activity. We collect this information through first-party analytics tools that are built into our website, without using cookies or third-party tracking technologies.
    </p>

    <h2 class="mt-6">What do we do with information we collect and what is our legal basis for this?</h2>
    <p class="mb-4">
      <span class="font-bold">Sign-up details:</span> If you sign up to our text messaging programme we will use your personal information to send text messages to you. Our legal basis for doing this is your consent. You have the right to withdraw this consent at any time. We will also share postcodes with our partner University of Sheffield who will cross-reference with that of Tiny Happy People research participants, under the terms of our data sharing agreement.
    </p>
    <p class="mb-4">
      <span class="font-bold">Third party processors:</span> We use a third party processor called Twilio to deliver text messages. In using this third party we are pursuing our legitimate interest to use third party technology to achieve greater efficiency within our organisation. To balance our interests against yours, we enter into legally binding contractual arrangements with Twilio and take steps to ensure it maintains appropriate technical and organisational measures to keep your personal information secure. Our use of Twilio means your personal information is transferred outside the UK. This transfer is made on the basis of an adequacy decision by the European Commission. For more information see the <a href="https://www.twilio.com/en-us/privacy" target="_blank">Twilio privacy policy</a>.
    </p>
    <p class="mb-4">
      <span class="font-bold">Research:</span> If you agree to take part in any research, including our diary study we will use your information for the purpose of that research project or programme. Full details of how your personal information will be used will be given to you at the time you agree to participate; this could include to inform the development of a new prize, project, programme or other initiative, being incorporated into reports or other research outcomes, and may include being publicly displayed on web pages relating to the particular research project or programme.
    </p>
    <p class="mb-4">
      <span class="font-bold">Feedback and surveys:</span> If you agree to give us feedback or complete a survey, we will use the information to improve our work and activities. We usually use Alchemer to process surveys, and they only process your information on our instructions.
    </p>
    <p class="mb-4">
      Alchemer operates in the US. For more information see the <a href="https://www.alchemer.com/privacy/" target="_blank">Alchemer privacy policy</a>. If you agree to participate in any survey that will form part of any research project, we will tell you at the time you take part how your information will be used for the particular research project or programme, and how long it will be kept for.
    </p>
    <p class="mb-4">
      <span class="font-bold">‍For all kinds of information collected:</span> Please make sure that all personal details you provide are accurate and up to date, and let us know about any changes. Please get consent first before giving us anyone else’s information.
    </p>
    <p class="mb-4">
      The nature of Nesta’s work means we often work in partnership with other organisations, however, we will not share your information with any other organisation unless we have your permission first, or we have a legitimate interest or legal requirement to do so.
    </p>
    <p class="mb-4">
      We may also use your information to carry out analysis and research to improve our publications, events and activities, customise our website and its content to your particular preferences, notify you of any changes to our website or to our activities that may affect you, to prevent and detect fraud and abuse, and to protect other users.
    </p>
    <p class="mb-4">
      However you choose to engage with Nesta, we may retain your information for our own legitimate business interests for statistical analysis purposes, in order to review, develop and improve our business activities. In this situation, we will only keep any personal information if it is necessary to do so, and will always put in place appropriate technical and administrative safeguards, including where possible anonymising or minimising the personal information retained.
    </p>
    <p>
      We use a third party to provide cloud based data security, storage and disaster recovery service to backup data that we hold.
    </p>

    <h2 class="mt-6">
      How long will we keep your information for?
    </h2>
    <p class="mb-4">
      <span class="font-bold">General principle:</span> We will only keep any personal information that you provide to us for as long as is necessary to fulfil the purpose for which you gave us the information. We will securely delete information when it is no longer needed for that purpose, as explained in more detail below.
    </p>
    <p class="mb-4">
      <span class="font-bold">Consent:</span> We keep records of consent, and any withdrawal of consent, on our files for as long as your personal information is being used in-line with that consent and for a period of 6 years after the consent is withdrawn (unless otherwise requested by you).
    </p>
    <p class="mb-4">
      <span class="font-bold">Research:</span> If you agree to take part in any research your personal information will be kept for as long as it is of value to Nesta and the wider research community, and for as long as may be specified by any external research funder, patent law, legislative and other regulatory requirements. Research data shall be reviewed at least every 5 years to consider its continued value to Nesta, and personal data anonymised or pseudonymised where possible, unless to do so would affect the integrity of the research data and/or its outcomes, or its future value.To the extent that Personal Data arising from any research is embodied within a research report or other research outcome, it will be retained in perpetuity as part of the published materials. Research that supports the development of a prize, project, programme, publication or other research outcome, shall be kept for at least 5 years beyond publication or any other research outcome has been completed. If the research is funded or the subject of any other contract, your personal data may be kept for 6 years after the end of the contract or longer if the contract or funding agreement specifies, which could be up to 12 years after the contract ends.
    </p>
    <p>
      <span class="font-bold">Processing for statistical analysis purposes:</span> This type of processing will only be undertaken whilst we retain your personal information in line with the principles explained above.
    </p>

    <h2 class="mt-6">Security</h2>
    <p>
      We take steps to protect your personal information and follow procedures designed to minimise unauthorised access or disclosure of your information.
    </p>

    <h2 class="mt-6">
      Contacting us, exercising your rights and complaints
    </h2>
    <p>
      You are legally entitled to know what personal information we hold about you and how that information is processed, which includes the right to:
    </p>
    <ul class="list-disc pl-4 pt-2 mb-4">
      <li>ask us to correct any mistakes in your information which we hold</li>
      <li>ask us to delete your personal information</li>
      <li>ask us to stop using your personal information or restrict how we can use it, for example if you feel it is inaccurate or no longer needs to be used by Nesta</li>
      <li>to object to us using of your personal information</li>
      <li>to object to any automated decision making that we may do using your personal information</li>
    </ul>
    <p class="mb-4">
      If you wish to know what information we hold about you, or wish to exercise any of your other rights as detailed above, or have any complaint about how we are using your personal information, then please email us using information@nesta.org.uk or write to us at 58 Victoria Embankment London EC4Y 0DS UK and provide enough information to identify yourself (e.g. name and address or any registration details).
    </p>
    <p class="mb-4">
      If our information is incorrect or out of date, please provide us with enough information to allow us to update it. If you want us to delete, restrict or stop using any information we hold about you, please specifically confirm the reasons why you are asking this. If you are unhappy with how we are using your information, again please explain to us the reasons and we will investigate the matter.
    </p>
    <p class="mb-4">
      You can also write to the same address if you have a complaint about this policy.
    </p>
    <p>
      If you are unhappy with how any data rights request or complaint has been dealt with you have the right to complain to the Information Commissioner:
    </p>
    <ul class="list-disc pl-4 pt-2 mb-4">
      <li>On the <a href="https://ico.org.uk/concerns" target="_blank" class="underline hover:no-underline">ICO website</a>;</li>
      <li>By mail at Wycliff House, Water Lane, Wilmslow, Cheshire SK9 5AF, or</li>
      <li>By calling the helpline on 0303 123 1113.</li>
    </ul>
    <p>
      This contact information for the Information Commissioner’s Office is correct as at the time this privacy policy is published.
    </p>

    <h2 class="mt-6">
      Changes to the privacy policy
    </h2>
    <p class="mb-4">
      We may change this privacy policy from time to time. We will notify you of any changes that relate to information we already hold about you, where practicable. You should check this policy occasionally to ensure you are aware of the most recent version that will apply each time you access this website.
    </p>
    <p>
      Nesta, a company limited by guarantee registered in England and Wales with company number 7706036 and charity number 1144091.<br>
      Registered as a charity in Scotland number SC042833.<br>
      Registered office: 58 Victoria Embankment, London, EC4Y 0DS<br>
      Email: information@nesta.org.uk
    </p>
  </div>
</div>
