<div class="flex justify-around text-center">
  <div class="md:w-1/2 mb-10">
    <h1 class="text-purple-900 md:text-4xl text-2xl">Resources for caregivers</h1>
    <p>We've compiled a list of helpful resources below to support you in navigating any challenges you may face while caring for your little ones.</p>
  </div>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 gap-5">
  <div class="bg-pink-100 p-8 col-span-1">
    <h2>Mental Health Support for Parents and Children</h2>
    <ul>
      <li class="mb-4">
        <span class="font-bold">NHS Mental Health Support:</span> 
        Get advice about mental health difficulties and <a href="https://www.nhs.uk/mental-health/" target="_blank" class="underline hover:no-underline">find local support</a>
      </li>
      <li class="mb-4">
        <span class="font-bold">Local Mental Health Services:</span> 
        <a href="https://www.nhs.uk/nhs-services/gps/" target="_blank" class="underline hover:no-underline">Consult your GP</a> for referrals
      </li>
      <li class="mb-4">
        <span class="font-bold">Mind:</span> 
        Call 0300 123 3393 or <a href="https://www.mind.org.uk/" target="_blank" class="underline hover:no-underline">go online</a> to access information, advice and support for your or a loved one’s mental health needs, including supported self-help for adults living in England and the Channel Islands
      </li>
      <li>
        <span class="font-bold">Anna Freud:</span> 
        Call 020 7794 2313 or <a href="https://www.annafreud.org/resources/family-wellbeing/" target="_blank" class="underline hover:no-underline">go online</a> to access resources to help support a child experiencing mental health difficulties
      </li>
  </div>
  <div class="bg-yellow-100 p-8 col-span-1">
    <h2>Speech, Language and Communication Difficulties</h2>
    <ul>
      <li class="mb-4">
        <span class="font-bold">Local Speech and Language Therapy:</span> 
        You can get a referral to a speech and language therapy department through your GP, health visitor, district nurse, nursery staff, or your child's teacher. You can also refer yourself to the service by calling your local NHS service and asking for the speech and language therapy number.
      </li>
      <li class="mb-4">
        <span class="font-bold">NHS Guidance:</span> View <a href="https://www.cpft.nhs.uk/speech-and-language-therapy-toolkit/" target="_blank" class="underline hover:no-underline">NHS Cambridgeshire and Peterborough's Speech Language Therapy Toolkit</a> for tips and advice to help with the development of children and young people's speech, language and communication skills.<br><br>
        If you don’t live in Cambridgeshire or Peterborough but would like to know where to get local support for your child’s speech, language and communication, <a href="https://www.gov.uk/find-local-council" target="_blank" class="underline hover:no-underline">find your local council’s website</a>. 
      </li>
    </ul>
  </div>
  <div class="bg-purple-100 p-8 col-span-1">
    <h2>Financial Support</h2>
    <ul>
      <li class="mb-4">
        <span class="font-bold">Benefit Checker:</span> 
        Use <a href="https://www.turn2us.org.uk/" target="_blank" class="underline hover:no-underline">Turn2Us</a> to check your benefit eligibility.
      </li>
      <li class="mb-4">
        <span class="font-bold">Citizens Advice:</span>
        Call 0800 144 8848 (England) or 0800 702 2020 (Wales) or visit <a href="https://www.citizensadvice.org.uk/" target="_blank" class="underline hover:no-underline">Citizen's Advice website</a> to get guidance on financial issues and other challenges at Citizens Advice.
      </li>
    </ul>
  </div>
  <div class="bg-orange-100 p-8 col-span-1">
    <h2>Child Development</h2>
    <ul>
      <li class="mb-4">
        <span class="font-bold">Developmental milestones by age:</span> 
        Check out the <a href="https://cambspborochildrenshealth.nhs.uk/child-development-and-growing-up/milestones/" target="_blank" class="underline hover:no-underline">NHS Cambridgeshire and Community's Milestones page</a> for a rough guide on children’s different developmental milestones and when to contact your health visitor.<br><br>
        If you don’t live in Cambridgeshire or Peterborough but would like to know where to get local support for your child’s speech, language and communication, <a href="https://www.gov.uk/find-local-council" target="_blank" class="underline hover:no-underline">find your local council’s website</a>. 
      </li>
      <li class="mb-4">
        <span class="font-bold">Activities to promote children’s development:</span>
        Use the <a href="https://www.bbc.co.uk/tiny-happy-people" target="_blank" class="underline hover:no-underline">Tiny Happy People website</a> to find ideas for activities to promote your children’s development. This is one of the websites we asked you to view in your interview with us. 
      </li>
    </ul>
  </div>
  <div class="bg-red-100 p-8 col-span-1">
    <h2>Emergency Support</h2>
    <ul>
      <li class="mb-4">
        <span class="font-bold">Childline (UK):</span> 
         Call 0800 1111 for a safe, confidential space to talk with a counsellor, available 24/7 for anyone under 19 across the UK
      </li>
      <li class="mb-4">
        <span class="font-bold">Samaritans:</span>
        Call 116 123 for a safe, confidential space to talk, available 24/7 for all ages in the UK and Ireland
      </li>
      <li class="mb-4">
        <span class="font-bold">Non-life threatening, medical help:</span>
        Call 111 for help with your medical symptoms or if you’re unsure where to get help for an urgent medical concern. The helpline is available 24/7. 
      </li>
      <li class="mb-4">
        <span class="font-bold">Emergency Services:</span>
        Call 999 for life-threatening situations, available 24/7 free to call for emergencies across the UK.
      </li>
    </ul>
  </div>
</div>


