
@font-face {
  font-family: 'ReithSans';
  src: url("../fonts/ReithSans.woff2") format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ReithSans';
  src: url("../fonts/ReithSansBold.woff2") format('woff2');
  font-weight: 700;
  font-style: normal;
}
