<div class="relative">
  <div class="absolute left-0 top-0 w-full h-full hidden md:block" style="background: url(<%= image_url('family-playing.jpg') %>) no-repeat 0% 25%; background-size: cover; opacity: .9">
  </div>
  <div class="bg-purple-900 md:bg-transparent md:flex md:flex-col p-5 relative hero-banner md:px-24 md:justify-around">
    <div class="lg:w-3/4 xl:w-1/2 md:bg-purple-900 md:p-6 xl:p-8 flex flex-col justify-between h-fit">
      <h1 class="text-4xl lg:text-5xl text-yellow-200">
        Thank you for filling out your diary entry this week!
      </h1>
      <h2 class="text-2xl lg:text-3xl text-white mb-5">
        We will either be sending you your gift voucher of £20 in a few days or a £100 voucher once you have completed 4 entries - this depends on the option you selected at sign-up. Again, if you have any questions or concerns, please contact us at <a href="mailto:info@thp-text.uk" target="_blank" rel="noopener" class="link">info@thp-text.uk</a> or 07726 681921.
      </h2>
    </div>
  </div>
  <div class="block md:hidden mt-0">
    <%= image_tag "family-playing.jpg", alt: "Family playing in the park" %>
  </div>
</div>
