<% content_for(:page_title) { I18n.t("pages.surveys.thank_you.page_title", locale: @language) } %>

<div class="w-full lg:w-1/2 mx-auto py-10 px-5">
  <h1><%= t("pages.surveys.thank_you.title", locale: @language) %></h1>
  <p><%= t("pages.surveys.thank_you.subtitle", locale: @language) %></p>
</div>
