<% content_for(:page_title) { I18n.t("pages.surveys.thank_you.page_title", locale: @user.language) } %>

<div class="w-1/2 mx-auto my-10">
  <h1><%= t("pages.surveys.thank_you.title", locale: @user.language) %></h1>
  <p><%= t("pages.surveys.thank_you.subtitle", locale: @user.language) %></p>
</div>
