<div class="bg-zinc-50">
  <h1 class="text-4xl px-28 py-20 mb-0">Here are some texts we'll send you</h1>
  <div class="flex flex-col md:flex-row justify-between bg-red-200 px-10 md:px-28 py-10 gap-3">
    <p class="w-96 border border-slate-400 p-10 rounded-lg bg-white">
      Today's video is all about expanding on the things that your child says. It has some brilliant tips on how you can do this, for example by asking 'what', 'where' and 'why' questions: 
      <a href="https://www.bbc.co.uk/tiny-happy-people/tools-for-talking-18-24-months/zxdfp4j" target="_blank" class="text-blue-500">https://www.bbc.co.uk/tiny-happy-people/tools-for-talking-18-24-months/zxdfp4j</a>
    </p>
    <p class="w-96 border border-slate-400 p-10 rounded-lg bg-white">
      💬 Hello Alex! Today’s Tiny Happy People video is all about tips for engaging your child in conversation. 🦜
      <a href="https://www.bbc.co.uk/tiny-happy-people/tools-for-talking-18-24-months/zxdfp4j" target="_blank" class="text-blue-500">https://www.bbc.co.uk/tiny-happy-people/tools-for-talking-18-24-months/zxdfp4j</a>
    </p>
    <p class="w-96 border border-slate-400 p-10 rounded-lg bg-white">
      Today's video is all about expanding on the things that your child says. It has some brilliant tips on how you can do this by asking 'what', 'where' and 'why' questions: 
      <a href="https://www.bbc.co.uk/tiny-happy-people/tools-for-talking-18-24-months/zxdfp4j" target="_blank" class="text-blue-500">https://www.bbc.co.uk/tiny-happy-people/tools-for-talking-18-24-months/zxdfp4j</a>
    </p>
  </div>
  <div class="flex flex-col md:flex-row justify-between mt-5 bg-amber-300 px-10 md:px-28 py-10 gap-3">
    <p class="w-96 border border-slate-400 p-10 rounded-lg bg-white">
      Everyday tasks like cooking can be a great opportunity to build your child’s vocabulary by talking to them about foods and textures that have caught their attention! Watch the video below for tips that really work: 
      <a href="https://www.bbc.co.uk/tiny-happy-people/i-can-cook/zf26mfr" target="_blank" class="text-blue-500">https://www.bbc.co.uk/tiny-happy-people/i-can-cook/zf26mfr</a>
    </p>
    <p class="w-96 border border-slate-400 p-10 rounded-lg bg-white">
      You can turn everyday tasks like cooking into a great opportunity to build your child’s vocabulary! How?  By talking to them about foods and textures that have caught their attention! 🍓🍞
      Watch the video below for tips that really work:
      <a href="https://www.bbc.co.uk/tiny-happy-people/i-can-cook/zf26mfr" target="_blank" class="text-blue-500">https://www.bbc.co.uk/tiny-happy-people/i-can-cook/zf26mfr</a>
    </p>
    <p class="w-96 border border-slate-400 p-10 rounded-lg bg-white">
      Want a fun way to boost your child’s vocabulary while doing the chores? You can talk to your child about foods and textures as you cook! Watch this week’s video for more tips:
      <a href="https://www.bbc.co.uk/tiny-happy-people/i-can-cook/zf26mfr" target="_blank" class="text-blue-500">https://www.bbc.co.uk/tiny-happy-people/i-can-cook/zf26mfr</a>
    </p>
  </div>
  <div class="flex flex-col md:flex-row justify-between mt-5 bg-purple-600 px-10 md:px-28 py-10 gap-3">
    <p class="w-96 border border-slate-400 p-10 rounded-lg bg-white">
      Today’s video is all about taking turns! 💬 Babies can learn a lot from taking turns in conversations, including the sounds of language and how to recognise faces and emotions. Learn more about it:
      <a href="https://www.bbc.co.uk/tiny-happy-people/articles/zgc6qfr" target="_blank" class="text-blue-500">https://www.bbc.co.uk/tiny-happy-people/articles/zgc6qfr</a>
    </p>
    <p class="w-96 border border-slate-400 p-10 rounded-lg bg-white">
      Today’s video is all about taking turns! 💬
      Babies can learn a lot from taking turns in conversations, including the sounds of language and how to recognise faces and emotions. For example, when you respond to your baby’s sounds as though they’re telling you something important, you’re showing them how to take turns! Learn more about taking turns:
      <a href="https://www.bbc.co.uk/tiny-happy-people/articles/zgc6qfr" target="_blank" class="text-blue-500">https://www.bbc.co.uk/tiny-happy-people/articles/zgc6qfr</a>
    </p>
    <p class="w-96 border border-slate-400 p-10 rounded-lg bg-white">
      Today’s video is all about taking turns with your little one! 💬
      <a href="https://www.bbc.co.uk/tiny-happy-people/articles/zgc6qfr" target="_blank" class="text-blue-500">https://www.bbc.co.uk/tiny-happy-people/articles/zgc6qfr</a>
    </p>
  </div>
</div>
