<%= simple_form_for @group, url: (@group.persisted? ? admin_group_path(@group) : admin_groups_path) do |form| %>
  <div class="mt-3">
    <%= form.input :name, input_html: { class: "w-full" } %>
  </div>

  <%= form.submit (action_name == "edit" ? "Update" : "Create"), class: "btn btn-primary mt-5 bg-bbc-blue text-white w-full" %>
<% end %>
