<nav class="flex px-28 py-5 bg-indigo-600 text-white items-center">
  <h1 class="w-3/4 mb-0"><%= link_to "Tiny Happy People", root_path %></h1>
  <ul class="flex flex-row-reverse w-1/4">
    <li><a href="#" class="ml-3">Contact</a></li>
    <li><a href="#" class="ml-3">Cymreg</a></li>
  </ul>
</nav>
