<nav class="py-5 bg-indigo-600 text-white">
  <div class="lg:px-28 sm:px-2 flex items-center space-between w-full">
    <div class="w-3/4">
      <h1 class="mb-0"><%= link_to "Tiny Happy People", root_path %></h1>
    </div>
    <div class="w-1/4">
      <ul class="flex flex-row-reverse">
        <li><a href="#" class="ml-3">Cymraeg</a></li>
        <li><a href="#" class="ml-3">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
