<div class="flex flex-col gap-6 bg-zinc-100 pt-11 px-14 col-span-1 h-full">
  <p class="text-3xl font-bold mb-1">Admin dashboard</p>

  <%= link_to 'Unseen messages', dashboard_admin_users_path,
              class: 'link text-lg sm:text-xl no-underline hover:underline text-zinc-600'
              %>
  
  <%= link_to 'Users', admin_users_path,
              class: 'link text-lg sm:text-xl no-underline hover:underline text-zinc-600'
              %>
  
  <%= link_to 'Opted out users', admin_users_path(opted_out: true),
              class: 'link text-lg sm:text-xl no-underline hover:underline text-zinc-600'
              %>

  <%= link_to 'Message contents', admin_groups_path,
              class: 'link text-lg sm:text-xl no-underline hover:underline text-zinc-600'
              %>
</div>
