<div class="flex flex-col gap-6 bg-zinc-100 p-8 mt-4 col-span-1">
  <h1 class="text-2xl mb-1">Admin dashboard</h1>

  <%= link_to 'Unseen messages', dashboard_users_path,
              class: 'link text-lg sm:text-xl no-underline hover:underline text-zinc-600'
              %>
  
  <%= link_to 'Content adjustments', content_adjustments_path,
              class: 'link text-lg sm:text-xl no-underline hover:underline text-zinc-600'
              %>
  
  <%= link_to 'Users', users_path,
              class: 'link text-lg sm:text-xl no-underline hover:underline text-zinc-600'
              %>
  
  <%= link_to 'Message contents', groups_path,
              class: 'link text-lg sm:text-xl no-underline hover:underline text-zinc-600'
              %>
</div>
